.logo {
  display: flex;
  align-items: center;
}

.logo__hamburger {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
}

.logo__image img {
  width: 80px;
  height: 24px;
  object-fit: contain;
}
