.filterlink {
  display: inline-block;
  font-size: 14px;
  margin: 0 8px;
  padding: 8px 16px;
  border: 1px solid #d3d3d3;
  border-radius: 50px;
  background-color: #ededed;
  color: #333;
  text-decoration: none;
}
